body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

/* webkit-based browsers (e.g. Chrome, Safari) */
body::-webkit-scrollbar {
    width: 0.5em;
    display: None;
  }

#page-wrapper  {
    overflow-x: hidden;
}
