#swiper-container {
  width: 70%;
  height: auto;
  margin: 0 auto;
  padding-top: 10px;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
  transition-property: transform;
}

.swiper-slide {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 80%;
  padding: 20px;
}

.swiper-slide img {
  max-width: 100%;
  margin: auto;
  padding: 20px;
}

.slide-row {
  display: flex;
  flex-direction: row;
}

.image-container {
  flex: 4;
  margin-right: 20px;
  
}

.borderright {
  margin-right: 20px;
  border-right: 5px solid whitesmoke;
  margin-top: 3%;
  margin-bottom: 3%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1.5;
  text-align: left;
  margin-right: 2%;
}

.content-container h3 {
  color: #0bb4aa;
  text-align: left;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
}

/* Hover state */
.content-container h3:hover {
  color: #09766f;
}

.content-container p {
  text-align: left;
  margin-bottom: 20px;
  font-size: 18px;
}

.swiper-pagination {
  display: block;
  z-index:auto;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

.swiper-pagination-bullet {
  background-color: whitesmoke !important;
}

.swiper-slide-shadow-left {
  display: none;
}

.swiper-slide-shadow-right {
  display: none;
}

.content-container button {
  background-color: #0bb4aa; /* Background color */
  color: white; /* Text color */
  padding: 12px 24px; /* Padding */
  border: none; /* Remove borders */
  border-radius: 25px; /* Rounded edges */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Add cursor on hover */
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25); /* Add shadow */
  margin-bottom: 0;
}

/* Hover state */
.content-container button:hover {
  background-color: #09766f;
}


h1 {
  padding-top: 5%;
  display: inline-block;
  white-space: nowrap;
}

@media only screen and (max-width: 768px) {
  .swiper-container {
    max-width: 100%;
  }

  .slide-row {
    flex-direction: column;
  }

  .borderright {
    display: none;
  }

  .content-container {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
  }

  .content-container p {
    text-align: center;
  }

  .swiper-wrapper {
    max-width: 100%;
  }

  .centered{
    max-width: 100%;
  }
}