/* 
img {
  width: 60%;
  margin: auto;
} */


#swiper-container {
  width: 70%;
  height: auto;
  margin: 0 auto;
  padding-top: 3%;
}

.swiper-wrapper {
  display: flex;
  transition-property: transform;
}

.swiper-slide {
  flex-shrink: 0;
  width: 80%;
  height: 100%;
  padding: 20px;
}

body {
  overflow: hidden;
}

.swiper-slide img {
  max-width: 100%;
  margin: auto;
  padding: 20px;
}

.swiper-pagination {
  display: block;
  z-index:auto;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

.swiper-pagination-bullet {
  background-color: whitesmoke !important;
}

.swiper-slide-shadow-left {
  display: none;
}

.swiper-slide-shadow-right {
  display: none;
}